<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">HOME</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/article/al-jazeera-english">Al Jazeera</a></li>
                    <li><a href="/article/fox-news">Fox News</a></li>
                    <li><a href="/article/the-new-york-times">The New York Times</a></li>
                    <li><a href="/article/the-washington-post">The Washington Post</a></li>
                    <li><a href="/article/cnn">CNN</a></li>
                </ul>
            </div>
        </div>
    </div>