{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>NEWS ARTICLES</h1>
        </div>
    </div>
    {% for item in article %}

    <div class="row">
            <div class="col-md-6">
                    <img src="{{item.urlToImage}}" height="100%" width="100%">
                    <h4>WRITTEN BY: {{item.author}}</h4>
                </div>
            
                <div class="col-md-6">
                    <h3>{{ item.title}} </h3>
                    <h5>{{ item.description }}</h5>
                    <h6>{{item.content}}</h6>
                    <p>Published on: {{item.publishedAt}}</p>
                    <h3><a href={{item.url}} target="_blank">Read full article</a></h3>
                </div>
    </div>
    {% endfor%}
</div>

{% endblock %}